## print statement
- f string
- .format
- .format with place holder

In [3]:
name="siva"
print("name=",name)

name= siva

In [6]:
print(f"my name is {name}")

my name is siva

In [7]:
print("my name is {}".format(name))

my name is siva

In [8]:
print("{name1} {name2} {name3}".format(name1="siva",name2="sai",name3="balaji"))

siva sai balaji

### operators precedence
-    Python follows PEMDAS rule. PEMDAS stands for Parentheses, Exponents, Multiplication and Division, and Addition
 and Subtraction.

In [10]:
2+4*2**2

18

### String
-  Python allows for either pairs of single or double quotes.
-   Strings are immutable sequence data type
1. Case Conversion Methods
- str.upper(): Converts all characters in the string to uppercase.
- str.lower(): Converts all characters in the string to lowercase.
- str.capitalize(): Capitalizes the first character of the string.
- str.title(): Capitalizes the first character of each word in the string.
- str.swapcase(): Swaps uppercase to lowercase and vice versa.
2. Searching and Finding
- str.find(sub): Returns the index of the first occurrence of the substring sub or -1 if not found.
- str.index(sub): Similar to find() but raises a ValueError if the substring is not found.
- str.startswith(prefix): Checks if the string starts with the specified prefix.
- str.endswith(suffix): Checks if the string ends with the specified suffix.
- str.count(sub): Returns the number of non-overlapping occurrences of the substring sub.
3. Formatting and Alignment
- str.center(width): Centers the string within the specified width, padding with spaces.
- str.ljust(width): Left-justifies the string within the specified width.
- str.rjust(width): Right-justifies the string within the specified width.
- str.zfill(width): Pads the string with zeros on the left to fill the specified width.
4. Modification and Replacement
- str.replace(old, new): Replaces all occurrences of old with new.
- str.strip(): Removes any leading and trailing whitespace.
- str.lstrip(): Removes leading whitespace.
- str.rstrip(): Removes trailing whitespace.
5. Splitting and Joining
- str.split(sep): Splits the string into a list of substrings based on the separator sep.
- str.rsplit(sep): Splits the string from the right.
- str.partition(sep): Splits the string at the first occurrence of sep into a tuple.
- str.rpartition(sep): Splits the string at the last occurrence of sep.
- str.join(iterable): Joins elements of an iterable with the string as the separator.
6. Checking String Properties
- str.isalpha(): Returns True if all characters in the string are alphabetic.
- str.isdigit(): Returns True if all characters in the string are digits.
- str.isalnum(): Returns True if all characters in the string are alphanumeric.
- str.isspace(): Returns True if all characters in the string are whitespace.
- str.isupper(): Returns True if all characters in the string are uppercase.
- str.islower(): Returns True if all characters in the string are lowercase.
- str.istitle(): Returns True if the string follows title case (each word capitalized).

In [12]:
fruit='apple'
fruit.upper()
fruit.lower()

'apple'

In [13]:
a="appaapaapa"
a.count('ap')

3

## Conditional Statements
### Ternary operator
   - True_value condition False_value
### if,elif,else
   - In Python you can define a series of conditionals using 
if for the first one, 
(optional) 
else for anything not caught by the other conditionals
 - if 3.14 < x < 3.142:
 - In many (most?) programming languages, this would be evaluated in a way contrary to regular  math: (3.14 < x) <3.142, but in Python it is treated like 3.14 < x and x < 3.142, just like most non-programmers would expect.
#### The following values are considered falsey, in that they evaluate to False when applied to a boolean operator:
                  None
                   False
                   0, or any numerical value equivalent to zero, for example 0.0,0j
                  Empty sequences: '', "" 
                   Empty mappings: {}
### Lazy Evaluation
   - When you use this approach, remember that the evaluation is lazy. Expressions that are not required to be
 evaluated to determine the result are not evaluated. For example:

In [20]:
n=3
if(n<4 and n>0):
    print("yes")
else:
    print("no")

yes

In [21]:
3 and 0

0

In [24]:
[1] and 89

89

In [25]:
2 or 5

2

In [26]:
2 and 0

0

In [27]:
2 or 0

2

In [ ]:
def add():
    print(2+3)

In [28]:
add() and 3

3

In [29]:
2 and add()

5

In [19]:
if([3]):
    print("yes")
else:
    print("No")

yes

In [17]:
# ternary operator
## True_value condition False_value
n=4
result= "ok" if n>6 else "not ok"
result

'not ok'

### or
-  Evaluates to the first truthy argument if either one of the arguments is truthy. If both arguments are falsey,
 evaluates to the second argument.

In [32]:
2 and 4 and 7

7

In [33]:
5 or 0 and 7

5

### not
-  It returns the opposite of the following statement

In [31]:
not []

True

## Looping statements
- for
- for else
- while
- while else

- range(start,stop,step)

In [37]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [41]:
for i in range(1,10):
    print(i)
    if(i==4):
        continue
    print("ok")
else:
    print("done")

1
ok
2
ok
3
ok
4
5
ok
6
ok
7
ok
8
ok
9
ok
done

### break statement
-   When a break statement executes inside a loop, control flow "breaks" out of the loop immediately

### continue statement
-    continue statement will skip to the next iteration of the loop bypassing the rest of the current block but
 continuing the loop. As with break, continue can only appear inside loops

In [43]:
def add():
    pass

### pass

In [50]:
i=0
while(i<10):
    i+=1
    if(i==3):
        continue
    print(i)
else:
    print("ok")

1
2
4
5
6
7
8
9
10
ok

In [51]:
i=0
while(True):
    print(i)
    if(i==100/5):
        break
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## Lists
- They are both mutable and a sequence data type that allows them to be indexed
 and sliced. 
 ### List comprehension
 -  [ expression for element in iterable if condition ]

In [52]:
fruits=["apple","banana",2,4]
for i in fruits:
    print(i)

apple
banana
2
4

In [72]:
fruits[1]=1

In [57]:
fruits[::-1]

[4, 2, 'banana', 'apple']

In [58]:
result=["ok" for i in range(20) if i%2==0]
print(result)

['ok', 'ok', 'ok', 'ok', 'ok', 'ok', 'ok', 'ok', 'ok', 'ok']

## dictionary
- key value pairs

In [59]:
type({})

dict

In [63]:
data={'sai':80,'siva':79,'balaji':89}

In [68]:
data.get('sravani',99)

99

In [61]:
type(set())

set

In [69]:
[(key,value) for key,value in data.items()]

[('sai', 80), ('siva', 79), ('balaji', 89)]

## Tuple
- immutable

In [70]:
tup=(2,3,4,6)

In [71]:
tup[1]=5

TypeError: 'tuple' object does not support item assignment

### Set
- Sets are unordered collections of unique objects, there are two types of set:
    - set --> set()
    - frozenset --> frozenset()
- They are mutable and new elements can be added once sets are defined

In [75]:

set1={2,3,3,4,5,6,4}
print(set1)

{2, 3, 4, 5, 6}

In [77]:
set2={2,4,3,5}

In [78]:
set1.union(set2)

{2, 3, 4, 5, 6}

In [79]:
set1

{2, 3, 4, 5, 6}

In [80]:
set1.add(45)

In [82]:
set1

{2, 3, 4, 5, 6, 45}

In [84]:
lst=[2,4,5,6]

In [88]:
set0=frozenset(lst)

In [89]:
set0

frozenset({2, 4, 5, 6})

AttributeError: 'frozenset' object has no attribute 'add'

In [95]:
for i in range(1,10):
    if i%2==0:
        continue
    else:
        print(i)

1
3
5
7
9

In [112]:
n=10
a=0
b=1
print(a,b,sep="\n")
for i in range(n):
    c=a+b
    a=b
    b=c
    print(c)

0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
a=48
b=12
while(b)