In [1]:
a=10
b=20

In [2]:
a+b

30

In [3]:
a==b

False

In [4]:
print((a>b)and (b>a))

False

In [5]:
a=2
b=3
print((a&b))

2

In [7]:
x="cat"
print('a' not in x)

False

In [ ]:
age=int(input("enter age"))
if age>=18:
print("you are an adult")
elif age<=18:
print("you are a teenager")
else:
    print("you are a child")

you are a teenager

In [16]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
n=5
i=0
while(i<10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [20]:
for i in range(10):
    if i==5:
        pass
        
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
a=10
print(type(a))

<class 'int'>

In [23]:
type(str(a))

str

In [24]:
a="on"
print(type(int(a)))

ValueError: invalid literal for int() with base 10: 'on'

In [25]:
a='10'
print(type(int(a)))

<class 'int'>

In [28]:
a=10
print(type(float(a)))
print(a,float(a))

<class 'float'>
10 10.0

In [29]:
list1=[1,"om",9.0]
print(list1)

[1, 'om', 9.0]

In [30]:
type(list1)

list

In [31]:
tuple1=(1,2,3)

In [32]:
tuple1

(1, 2, 3)

In [33]:
type(tuple1)

tuple

In [34]:
dict={"a":10,"b":20}
print(dict)

{'a': 10, 'b': 20}

In [35]:
type(dict)

dict

In [36]:
set1 = {1,2,2,3}
print(set1)

{1, 2, 3}